@model Poker.Models.Auth.LoginViewModel
<html>
    <head>

    </head>
    <body>
        <h2>Login</h2>
        <form method="post" asp-action="Login" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>