<html>
    <head>

    </head>
    <body>
        <h2>Game menu</h2>
        <ul>
        <a asp-action="Rooms">Rooms list</a>
        <a asp-action="CreateRoom">Create Room</a>
        </ul>
    </body>
</html>