@using Poker.Models.Game
@model PlayerOnline      
        <p>Join to game?</p>
        <div class="alert-dark">
    @Html.ActionLink("Yes","Yes","Play",new { userId = Model.PlayerId,roomId = Model.RoomId })
    @Html.ActionLink("No","No","Play")
    </div>
       
    
        <div class="PlayersInRoom">
            <p>Players:</p>
            @Model.Player.Name
        </div>
        