@model List<Poker.Models.Game.Room>
<html>
    <head>

    </head>
    <body>
        @foreach(var room in Model)
    {
        <a asp-controller="Game" asp-action="Room" asp-route-idRoom="@room.Id">
            <p id="roomBlock">RoomName:@room.Name RoomDescription: @room.Description
               MinBet @room.MinBet MaxBet: @room.MaxBet</p>
        </a>
    }
</body>
</html>